{% extends "support/base.html" %}

{% block content %}

{% if tickets %}
<div style="overflow-x:auto;">
<table>
    <tr>
        <th>ID</th>
        <th>Vendor</th>
        <th>Category</th>
        <th>Severity</th>
        <th>Description</th>
        <th>Created</th>
        <th>Expiry</th>
        <th>Status</th>

    </tr>
    {% for ticket in tickets %}

    <tr>
        <td><a href="{% url 'support:detail' ticket.id %}" >{{ ticket.id }}</a></td>
        <td>{{ ticket.vendor }}</td>
        <td>{{ ticket.category }}</td>
        <td>{{ ticket.get_severity_display }}</td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.created_at }}</td>
        <td>{{ ticket.expiry }}</td>
        <td>{{ ticket.status }}</td>
    </tr>

    {% endfor %}
</table>
</div>
{% else %}
<p>No tickets are registered yet.</p>
{% endif %}
{% endblock %}
